*{
    margin: 0;padding: 0;
}
ul,ol,li{
    list-style-type: none;
}
.cf:after{
    content: '';
    display: table;
    clear:both;
}
.cf{*zoom: 1;}
.container{
    width: 100%;height: 100%;background: #2b3d51;position: fixed;top: 0;left: 0;font-family: "Microsoft YaHei";
}
.container-bg{position: fixed;top: 50%;margin-top: -110px;left: 50%;margin-left: -300px}
.qq-log{
    width: 60px;height: 90px;margin-left: 20px;margin-top: 20px;color: #fff;
}
.qq-log img{
    width: 60px;height: 60px;
}
.qq-log div{
    height: 25px;line-height: 25px;font-size: 14px;text-align: center;
}
.qq-login{
    width: 430px;height: 330px;
    position: fixed;left: 50%;margin-left: -215px;top: 50%;margin-top: -165px;overflow: hidden;
    background: #fff;border-radius: 5px;
    display: none;
}
.qq-top{
    position: absolute;right: 0;top: 0;
}
.qq-top div{
    float: left;
    width: 30px;height: 30px;
}
.qq-left{
    position: absolute;width: 133px;height: 148px;
}
.qq-left img{
    width: 80px;height: 80px;border: 1px solid #ccc;margin-left: 40px;margin-top: 10px;
}
.qq-center{
    width: 194px;height: 148px;position: absolute;left: 133px;margin-top: 10px;
}
.qq-center .text input{
    width: 194px; height: 30px;border-radius: 2px;border: 1px solid #ccc;outline: none;
}
.qq-center input.first{
    border-bottom: 0 none;
}
.qq-center .check{
    font-size: 12px;color: #333;margin-top: 8px;
}
.qq-center .check .right{
    margin-left: 70px;
}
.qq-center .sub input{
    width: 194px;height: 30px;background:dodgerblue ;border: 0 none;margin-top: 8px;color: #fff;
    border-radius: 3px;
}
.qq-right{
    position: absolute;right: -40px;top: 195px;width: 130px;height: 60px;
}
.qq-right .top{
    height: 30px;line-height: 30px;
}
.qq-right .bottom{
    height: 30px;line-height: 30px;
}
.qq-right a{
    font-size: 12px; color: dodgerblue;text-decoration: none;

}
.qq-page{
    width: 280px;height: 700px;position: fixed;right: 30px;top: 50px;border: 1px solid orangered;
}
.qq-page .top{
    width: 280px;height: 165px;overflow: hidden;position: relative;
}
.qq-page .top .QQ{
    position: absolute;top: 5px;left: 5px;
}
.qq-page .top .xx{
    position: absolute;top: 5px;right: 5px;
}
.qq-page .top .zz{
    position: absolute; top: 60px;left: 5px;font-size: 20px;
}
.qq-page .top .ll{
    position: absolute;top: 90px;left: 5px;font-size: 12px;color: #333;
}
.qq-page .top .ff{
    position: absolute;top: 110px;left: 1px;
}
